<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Brokers</title>
        <link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<form action="/" method="POST">
			<input type="text" name="search" autofocus autocomplete="off" />
            <button type="submit">Search</button>
		</form>
		<ul>
			<li><a href="/new-broker">New Broker</a></li>
			<li><a href="/new-consultant">New Consultant</a></li>
		</ul>
	</body>
</html>
