<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Brokers | new broker</title>
		<link rel="stylesheet" href="/css/normalize.css" />
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<%- include("partials/nav") %>
		<main>
			<h1>REGISTER NEW BROKER</h1>
			<form action="/new-broker" method="POST">
				<div class="form-group">
					<label for="broker-name">Company Name</label>
					<input type="text" name="brokerName" class="form-control" required />
				</div>
				<button type="submit" class="btn btn-outline-dark">Submit</button>
			</form>
		</main>
	</body>
</html>
