body {
	background-color: #dce8eb;
}

main {
	margin: 1rem;
}

h1 {
    font-weight: 700;
    color: #b3adad;
	text-align: center;
	margin-bottom: 2rem;
}

form {
	padding: 2rem 0;
	max-width: 20rem;
	margin: 0 auto;
}

form label {
	margin: 0;
}

.search-results {
    padding: 0;
	max-width: 30rem;
	margin: 0 auto;
    list-style: none;
}

.search-results li {
    padding: 0.5rem 1rem;
    margin: 1rem;
    background-color: #f8f9fa;
}

.search-results--broker-name {
    font-weight: 600;
    color: #1b1b1b;
    
}
.search-results--consultant-name {
    color: #3b3b3b;
    white-space: nowrap;
}
.search-results--consultant-name:not(:last-child)::after {
    content: ',';
}


